*{
  box-sizing: border-box;
}
h1{
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
nav ol li {
  color: blue;
  font-size: 20px;
}

.button{
  
  display:inline-block;
  background-color: rgb(126, 126, 222);
  color: white;
  font-size: 18px;
   
  padding-top: 15px; 
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
 
  border:3px solid rgb(249, 244, 248);


  border-radius: 15px;

  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
 
 border-radius: 10px;

}
.button-GoUp{
  background-color: black;
  color: white;
  border-color: rgb(32, 31, 31);
  order: 1;
}
.button-GoUp:hover{
  background-color: rgb(56, 55, 54);
}
.div h1{
  font-size: 14px;
  color: brown;
}
.div1 h2{
  font-size: 14px;
  color: blue;
}